%section.container
  %article.avi
    %h3
      avi Movies (to be converted)
    %ul
      - @avi_movies.each do |movie|
        %li
          %span
            = movie.title
            - if movie.converted == false
              = link_to "Convert to mp4", convert_to_mp4_movie_path(movie), class: 'btn btn-small btn-info'
            - else
              %div.progress
                %div.progress-bar{role: "progressbar", style: "width:0%;", class: movie.id}
              %button#click
                Refresh
  %article.mp4
    %h3
      mp4 Movies (streamable)
    %ul
      - @mp4_movies.each do |movie|
        %li
          %span
            = link_to movie.title, movie_path(movie)
:coffee
  $ ->
    $("#click").click ->
      $.get( "#{ movies_progress_poll_url }", (data) ->
        console.log(data)
      ) 
-#:javascript
-#  (function poll() {
-#    setTimeout(function() {
-#      $.ajax({
-#        url: "#{ movies_progress_poll_url }",
-#        type: "GET",
-#        success: function(data) {
-#          console.log(JSON.stringify(data));
-#        },
-#        dataType: "json",
-#        complete: poll,
-#        timeout: 2000
-#      })
-#    }, 10000);
-#  })();